<% provide(:title, 'Show Questionnaire') %>

<h1><%= @questionnaire.name %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ol>
      <% @questionnaire.questions.each do |question| %>
        <li><%= question.content %></li><br>
        <ul>
          <% question.options.each do |option| %>
            <li><%= option.content %></li><br>
          <% end %>
        </ul>
      <% end %>
    </ol>
      <%= link_to "Edit", edit_questionnaire_path(@questionnaire) %> |
      <%= link_to "Remove", @questionnaire, method: :delete, data: ("Are you sure?") %> |
      <%= link_to "View All", questionnaires_path %>
  </div>
</div>
