<%= provide(:title, @questionnaire.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="questionnaire_info">
      <h1>
        <%= form_for(@question) do |f| %>
          <% @questions.each do |question| %>
            <ul>
              <li><%= question.body %></li>
            </ul>

      <%= render 'shared/error_messages' %>

      <%= f.label :first_name, "Your First Name" %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name, "Your Last Name" %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email, "Your Email Address" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :gender, "Your Gender" %>
      <%= select_tag(:gender, options_for_select([[' ', 1], ['Female', 2], ['Male', 3]])) %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>




        <% end %>
      </h1>
    </section>
  </aside>
</div>